services:
    clickhouse-local:
        image: clickhouse/clickhouse-server:latest
        user: '101:101'
        hostname: clickhouse
        restart: on-failure
        ports:
            - '0.0.0.0:8123:8123'
            - '0.0.0.0:9000:9000'
        volumes:
            - ./config.xml:/etc/clickhouse-server/config.d/logchef.xml
            - ./users.xml:/etc/clickhouse-server/users.d/logchef.xml
            - ./init-clickhouse.sql:/docker-entrypoint-initdb.d/init-db.sql:ro
            - clickhouse-data:/var/lib/clickhouse
            - clickhouse-logs:/var/log/clickhouse-server
        healthcheck:
            test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8123/ping"]
            interval: 5s
            timeout: 3s
            retries: 3
            start_period: 10s
        ulimits:
            nproc: 65535
            nofile:
                soft: 262144
                hard: 262144
        cap_add:
            - SYS_NICE
            - IPC_LOCK
    dex-local:
        image: dexidp/dex:v2.35.3
        ports:
        - "5556:5556"
        volumes:
        - ./dex/config.yaml:/etc/dex/config.yaml
        command: [ "dex", "serve", "/etc/dex/config.yaml" ]

    webhook-receiver:
        image: mendhak/http-https-echo:31
        hostname: webhook-receiver
        restart: on-failure
        ports:
            - "8888:8080"
        environment:
            - HTTP_PORT=8080
            - LOG_WITHOUT_NEWLINE=true
            - LOG_IGNORE_PATH=/ping

volumes:
    clickhouse-data:
    clickhouse-logs:
