[sources.generate_http]
type = "demo_logs"
format = "json"
interval = 0.1

[transforms.remap_http]
type = "remap"
inputs = ["generate_http"]
source = '''
ts = .timestamp
.=parse_json!(.message)
.timestamp = format_timestamp!(ts, format: "%Y-%m-%d %H:%M:%S.%f")
'''

[sinks.clickhouse]
type = "clickhouse"
inputs = ["remap_http"]
endpoint = "http://localhost:8123"
database = "default"
table = "http"
date_time_best_effort = true
skip_unknown_fields = true
auth.strategy = "basic"
auth.user = "default"
auth.password = ""

# [sinks.console]
# type = "console"
# inputs = ["remap_http"]
# encoding.codec = "json"
