[sources.generate_syslog]
type = "demo_logs"
format = "syslog"
interval = 0.1

[transforms.remap_syslog]
inputs = ["generate_syslog"]
type = "remap"
source = '''
  structured = parse_syslog!(.message)

  .timestamp = format_timestamp!(structured.timestamp, format: "%Y-%m-%d %H:%M:%S.%f")
  .body = structured.message
  .service_name = structured.appname
  .namespace = "syslog"

  .lvl = if includes(["emerg", "err", "crit", "alert"], structured.severity) {
    "ERROR"
  } else if structured.severity == "warning" {
    "WARN"
  } else if structured.severity == "debug" {
    "DEBUG"
  } else if includes(["info", "notice"], structured.severity) {
    "INFO"
  } else {
    structured.severity
  }

  .log_attributes = {
    "syslog.procid": structured.procid,
    "syslog.facility": structured.facility,
    "syslog.version": structured.version,
    "syslog.hostname": structured.hostname
  }

  del(.message)
  del(.source_type)
'''

[sinks.clickhouse]
type = "clickhouse"
inputs = ["remap_syslog"]
endpoint = "http://localhost:8123"
database = "default"
table = "syslogs"
skip_unknown_fields = true
date_time_best_effort = true
auth.strategy = "basic"
auth.user = "default"
auth.password = ""
